
name: Deploy to releases.slint.dev

on:
  push:
    paths: 'releases/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./releases
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v4

      - name: npm install
        run: |
          npm install

      - name: Generate a token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.READ_WRITE_APP_ID }}
          private-key: ${{ secrets.READ_WRITE_PRIVATE_KEY }}
          repositories: website
  
      - name: Clone website directory
        uses: actions/checkout@v4
        with:
          repository: slint-ui/website
          ref: prod
          path: releases/website
          token: ${{ steps.app-token.outputs.token }}

      - name: Generate docs.html and 404.html
        run: |
          mkdir -p website/output
          cd website && go run generator/generator.go -skip-agreements

      - name: Copy docs.html and 404.html
        run: |
          cp website/output/docs.html index.html
          cp website/output/404.html 404.html
          rm -rf website

      - name: Install Netlify
        run: |
          npm install netlify-cli --save-dev
    
      - name: Install Dependencies
        run: |
          npm ci

      - name: Build website
        id: netlify_build
        run: |
          netlify build

      - name: Deploy to Netlify
        id: netlify_deploy
        run: |
          netlify deploy \
            --dir . \
            --site ${{ secrets.NETLIFY_RELEASES_SITE_ID }} \
            --auth ${{ secrets.NETLIFY_API_TOKEN }} \
            --prod
